In [1]:
import os
from dotenv import load_dotenv
from exa_py import Exa
import pandas as pd

In [2]:
# --- Load Env --- 
load_dotenv()
EXA_API_KEY = os.getenv("EXA_API_KEY")

In [ ]:
# --- Get Exa Client --- 
exa = Exa(api_key=EXA_API_KEY)

In [5]:
# --- Test Search (LinkedIn People Search) --- 
query = "Junior AI Engineer Wokring in France and he is based from Tunisia"
response = exa.search_and_contents(
    query,
    category="people",
    text=True,
    num_results=5
)
# --- Display the result in table DF --- 
data = []
for result in response.results:
    data.append({
        "Name": result.author or result.title,
        "URL": result.url,
        "Content Snippet": result.text[:200] + "..."
    })
df = pd.DataFrame(data)
display(df)

,Name,URL,Content Snippet
0,Roudayna Lazreg,https://linkedin.com/in/roudayna-lazreg,# Roudayna Lazreg\nJunior AI Engineer @SWConsu...
1,Mohamed Ayachi Brini - Junior Machine Learning...,https://linkedin.com/in/mohamed-ayachi-brini/en,Junior Machine Learning Engineer | AI & Data ....
2,Ahmed Abida,https://linkedin.com/in/ahmed-abida-535aa7119,# Ahmed Abida\nsoftware engineer\nSoftware Eng...
3,Achraf Chabbouh,https://linkedin.com/in/achraf-chabbouh-559a378b,# Achraf Chabbouh\nEntrepreneurship; AI engine...
4,Amani Fraj,https://linkedin.com/in/amani-fraj-32351a243,# Amani Fraj\n\nArtificial Intelligence engine...

In [7]:
url = df['URL']
url

0             https://linkedin.com/in/roudayna-lazreg
1     https://linkedin.com/in/mohamed-ayachi-brini/en
2       https://linkedin.com/in/ahmed-abida-535aa7119
3    https://linkedin.com/in/achraf-chabbouh-559a378b
4        https://linkedin.com/in/amani-fraj-32351a243
Name: URL, dtype: object

In [8]:
# --- Define the Company Schema --- 
company_schema = {
    "type": "object",
    "properties": {
        "company_name": {"type": "string"},
        "industry": {"type": "string"},
        "founding_year": {"type": "number"},
        "main_product": {"type": "string"},
        "estimated_headcount": {"type": "string"},
        "location": {"type": "string"}
    },
    "required": ["company_name", "industry"]
}
# --- Execute the Search --- 
company_query = "Seed-stage AI Startups in London founded in 2024"

company_response = exa.search_and_contents(
    company_query,
    category="company",
    num_results=5,
    summary={"schema": company_schema}
)
print(f"Found {len(company_response.results)} companies.")

Found 5 companies.

In [9]:
# --- Display the result ---- 
import json 

company_data = []

for result in company_response.results:
    if result.summary:
        try:
            summary_json = json.loads(result.summary)
            company_data.append({
                "Name": summary_json.get("company_name",result.title),
                "Industry": summary_json.get("industry"),
                "Founded": summary_json.get("founding_year"),
                "Product": summary_json.get("main_product"),
                "Location": summary_json.get("location"),
                "URL": result.url
            })
        except:
            # --- Fallback if summary parsing fails ---
            company_data.append({"Name": result.title, "URL": result.url})
df_companies = pd.DataFrame(company_data)
display(df_companies)

,Name,Industry,Founded,Product,Location,URL
0,Medly AI,Education,2024,AI-powered GCSE science tutor,"London, England, United Kingdom",https://medlyai.com/
1,NoCarbon,"Technology, Information and Internet",2024,AI platform for carbon intelligence,"London, England, United Kingdom",https://linkedin.com/company/nocarbonuk
2,Lemon AI,Software Development,2024,AI solutions and technology,"London, England, United Kingdom",https://getlemon.ai/
3,Secondlaw,"Technology, Information and Internet",2024,advanced weather models,"London, England, United Kingdom",https://secondlaw.com/
4,Llongterm,Software Development,2024,API for long-term memory in AI applications,"London, United Kingdom",https://llongterm.com/